<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Go lang demo application</title>
</head>
<body>
  <div>
    <input type="text" id="title"/><button type="button" id="btn">생성하기!!</button>
  </div>

  <script>
  const btn = document.getElementById("btn");
  btn.addEventListener("click", () => {
    alert("test");
  });
  </script>
</body>
</html>